@font-face {
  font-family: 'Almoni Bold';
  src: url('/almoni-bold-aaa.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Almoni Neue';
  src: url('/almoni-neue-aaa-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Almoni Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle, #1a5e39 0%, #023f1f 50%, #003016 100%);
  background-attachment: fixed;
}

#root {
  width: 100%;
  min-height: 100vh;
}

